{% extends 'base.html' %}

{% block title %} About{% endblock title %}
{% block  aboutactive %} active {% endblock aboutactive %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">ICoder Blog Post!</h1>
      <p>So, you've decided to start a blog, but you have no idea how to go about it? Don’t worry, we've got you covered. We've been teaching people how to start successful blogs and make money on the side for years.
        Before you start jumping ship, let me further explain why blogging with a free platform is bad idea.They have a lot of restrictions like limited storage, features, and design customization.Your blog can be taken down anytime if you violate their terms of service.They don’t have any customer support if you need help getting started or have technical issues.Your blog will have ads, which can be disrupting for your readers and look unprofessional.Signing up for a free blog is good for testing the waters, but if you really want to scale your blog then you’ll need a premium blogging site.
        And to be honest, starting a blog doesn’t even cost much. It can cost you less than $10 a month if you follow our instructions below! So give it a shot and get your blog started the right way.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Why Bluehost?</h2>
        <p>Bluehost is recommended by WordPress themselves and has been in the industry since 1995, which makes it older than Google.
        Bluehost hosts millions of websites and has been working with WordPress since 2005. Users opt for Bluehost because it is more reliable and easy to set up when compared with other hosting providers.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Why Start a Blog?</h2>
        <p>Make money online: We’re starting with the best reason first! A blog has the potential to make money every month through various methods. You can earn money through running ads, selling your own products and services, recommending other businesses with affiliate marketing, and more.
        Build an audience: Let’s say that you are going to launch a product or a book soon and you want to build some buzz before the launch. A blog is the best way to spread the word.
        Attract targeted leads: Maybe you already have a business and want to generate leads and get more customers. Publishing fresh content to a blog is the best way to do that.
        Express yourself as a writer: Blogging improves your writing skills. You can share your stories, encourage people and build a community through your blogs.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Can I Start a Blog for Free?</h2>
        <p>The short answer is yes, you can start a blog for free.However, as tempting as it may sound, choosing the free option is full of risks and limitations. Our advice would be to steer clear off the free blogging platforms.
        A free option might be a good idea if you just want to start a basic blog as a hobby and don’t care about making money from it.
        If you intend to start a business, build your brand reputation, or add more advanced features to your blog, then the free option is not going to do well for you because of its many limitations.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}